@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a>Product name</a>
                </th>
                <th>
                    <a>Sold quantity</a>
                </th>
                <th>
                    <a>GTIN</a>
                </th>
                <th>
                    <a>Update stock</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TopOrders)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GTIN)
                </td>
                <td>
                    @Html.ActionLink("Update stock to 25", "UpdateStock", "Home", new { productNo = item.ProductNo })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
